@model IEnumerable<BOL.employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.f_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.l_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hire_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.confirm_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.confirm_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birth_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.H_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marital_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state_origin_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prob_period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bank_acc_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pen_pin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quali_summ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wed_anni_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_child)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hobby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary_annual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bank.bank_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comp_branch.branch_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company.company1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department.department_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dept_units.dept_unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.division.division1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_type.employee_type1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade_level.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_title.job_title1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pen_providers.pen_provider_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.f_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.m_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.l_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hire_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.confirm_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.confirm_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birth_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.H_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marital_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state_origin_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prob_period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bank_acc_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pen_pin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quali_summ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wed_anni_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.no_child)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hobby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary_annual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bank.bank_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comp_branch.branch_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company.company1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department.department_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dept_units.dept_unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.division.division1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_type.employee_type1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade_level.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job_title.job_title1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pen_providers.pen_provider_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employee_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.employee_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employee_id })
        </td>
    </tr>
}

</table>
